<div>
  <div class="row m-4">
    <div class="col-12 p-0 card">
      <div class=" d-table">
        <div class="header d-table-cell align-middle text-center">
          <div class="strong">Schedule your session</div>
          <div class="small">Timezone: Lisbon(+1)</div>
        </div>
      </div>
      <div class="pb-4">
        <app-carousel [startsIn]="startsIn"
                      [searchResult]="searchResults"
                      [searchParams]="searchParams"
                      (searchParamsChange)="search()"
                      [(endIndex)]="endIndex"
                      [(startIndex)]="startIndex"></app-carousel>
      </div>
    </div>
    <div class="col-12 card mt-4">
      <div class="mt-4">
        <app-calendar [availabilities]="searchResults.results"></app-calendar>
      </div>
    </div>
  </div>

</div>
