<div class="row text-center opening-hours">
  <div class="col-3">
    <div>
      <button class="btn">
        -
      </button>
    </div>
    <div>
      <button class="btn">
        -
      </button>
    </div>
    <div>
      <button class="btn">
        -
      </button>
    </div>
    <div>
      <button class="btn">
        -
      </button>
    </div>
  </div>
  <div class="col-3">
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour more">
        MORE
      </button>
    </div>
  </div>
  <div class="col-3">
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour more">
        MORE
      </button>
    </div>
  </div>
  <div class="col-3">
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour">
        08:00
      </button>
    </div>
    <div>
      <button class="btn btn-opening-hour more">
        MORE
      </button>
    </div>
  </div>
</div>
